@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #e02b20;
}
html {
    font-family: 'Nunito', sans-serif;;
}
#page-container {
    width: 100%;
}

#header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 32px;
    margin: 0 auto;
    background-color: var(--primary-color);
    z-index: 999;
}

.logo-container {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-link {

}

.logo-img {
    width: 168px;
}

.menu-nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100%;
    margin-right: 190px;
}

.nav-list {
    list-style: none;
    display: flex;
    color: white;
}

.nav-item {
    padding-right: 22px;
}

.nav-item a{
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    
}

#header .header-option {
    position: absolute;
    right: 32px;
    top: 50%;
    color: white;
    font-size: 14px;
    transform: translateY(-50%);
    font-weight: 700;
}

.btn-sign-in{
    margin-right: 6px;
    position: relative;
}

.btn-sign-in::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 13px;
    right: -4px;
    top: 3px;
    background-color: #ff9898;
}

.btn-sign-up{

}