
.content-container {
    margin-top: 80px;
}
.content {
    padding: 50px 70px;
}

.content-title {
    text-align: center;
    margin-bottom: 26px;
    font-size: 24px;
}

.content-desc {
        word-spacing: 2px;
        line-height: 24px;
        letter-spacing: 1px;
        text-align: justify;
}


.content-img{
    display:flex;
    padding:0 250px;
    justify-content: space-between;
}

.content-img__container {
    width: 230px;
    overflow: hidden;
}

.content-img__intro {
    border-radius: 6px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}